<main>
  <section class="image">
    <img src="assets/images/image.svg" width="400" alt="Imagem Ilustrativa" />
  </section>
  <section class="form">
    <form action="">
      <section class="titles">
        <h3>Bem-vindo de volta</h3>
        <h1>Faça login na sua conta</h1>
      </section>

      <div class="input">
        <label for="emailInput">E-mail</label>
        <input
          type="email"
          name="emailInput"
          id="emailInput"
          placeholder="exemplo@gmail.com"
        />
      </div>

      <div class="input">
        <label for="senhaInput">Senha</label>
        <input
          type="password"
          name="senhaInput"
          id="senhaInput"
          placeholder="123456789"
        />
      </div>

      <section class="acoesSenha">
        <div>
          <input type="checkbox" name="guardarSenhaInput" id="guardarSenhaInput" />
          <label for="guardarSenhaInput">Lembre de mim</label>
        </div>
        <a href="#">Esqueceu sua senha?</a>
      </section>

      <section class="opcoes">
        <button class="botaoEntrar">Entrar na conta</button>
        <button class="botaoLoginGoogle">
          <img src="assets/images/icon.svg" width="24" alt="" srcset="" />Ou
          faça login com o Google
        </button>
      </section>
      <p>Não tem uma conta? <a href="#">Cadastre-se</a></p>
    </form>
  </section>
</main>
